<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApp1_localdb.Properties.Settings.MvcMovie_Models_MovieDBContextConnectionString"
            connectionString="Data Source=QXAAKHS0MDUJ3QK\SQLEXPRESS;Initial Catalog=MvcMovie.Models.MovieDBContext;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>